html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  max-width: var(--main-content);
  margin: 0 auto;
  padding: 0 var(--gap);
  padding-top: var(--gap);
}

:root {
  --gap: 1rem;
  --big-gap: 4rem;
  --main-content: 45rem;
}

.blur {
  backdrop-filter: saturate(180%) blur(5px);
}

article pre::-webkit-scrollbar {
  display: none;
}

article pre {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

article code {
  padding: 3px !important;
  border-radius: 5px !important;
}

article > code {
  width: 100% !important;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 1rem !important;
  max-width: 100% !important;
  border-radius: 6px !important;
  overflow: scroll !important;
  overflow-y: visible !important;
  border: none !important;
  box-shadow: none !important;
}

article .chakra-image:not(.chakra-avatar) {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}

article {
  margin-bottom: 100px;
}

article code > code {
  background: none !important;
}

.chakra-avatar {
  z-index: -1 !important;
}