.nav {
  padding: 0 var(--gap);
  max-width: var(--main-content);
}

.h1 {
  margin-top: var(--big-gap);
  margin-bottom: var(--gap);
}

.featured {
  width: 100%;
}

.tableAll {
  overflow-x: auto;
}

.goBtn {
  z-index: -1 !important;
}