.input {
    margin: var(--gap) 0;
    width: 100%;
    margin-left: var(--chakra-space-6);
    padding-right: var(--chakra-space-6);
    padding-top: var(--chakra-space-2)
}

.input:focus {
    outline: none;
}

.close {
    margin-top: var(--gap);
}

.list li {
    list-style: none;
}

.tag {
    color: black !important;
}

.modal {
    transition: all 0.3s ease;
    padding: 0 !important;
    padding-bottom: var(--chakra-space-2) !important;
}

.item {
    width: 100%;
    align-items: start !important;
    align-content: flex-start !important;
    padding-inline-start: var(--chakra-space-6);
    padding-inline-end: var(--chakra-space-6);
}

.item:focus, .item:hover {
    outline: none;
}

.icon {
    padding-left: 0 !important;
}

.noFocus:focus {
    box-shadow: none !important;
    outline: none !important;
}

.kbd {
    align-self: flex-end;
}

.p {
    font-variant: normal;
    font-weight: normal;
}